# Base de données PostgreSQL
DB_URL=jdbc:postgresql://localhost:5432/sav_db
DB_USER=sav_user
DB_PASSWORD=sav_pass

# JWT — générer avec : openssl rand -hex 32
JWT_SECRET=aac97a96bb2edaff5db5ab8cfa9b8aa20261e1f0321cb17cf69048a754eea9a9

# Optionnel — profil Spring (prod pour la production)
SPRING_PROFILES_ACTIVE=prod
