<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tickets" href="/tabs/tickets">
      <ion-icon name="construct-outline" />
      <ion-label>Tickets</ion-label>
      @if (syncService.pendingCount() > 0) {
        <ion-badge color="warning">{{ syncService.pendingCount() }}</ion-badge>
      }
    </ion-tab-button>

    <ion-tab-button tab="stock" href="/tabs/stock">
      <ion-icon name="cube-outline" />
      <ion-label>Stock</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline" />
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
